<main>
 <nav>
    <a>
      <==
    </a>
    <h3 class="d-flex p-2">Create New Category</h3>
    <div class="d-flex text-decoration-none">
        <h4>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        </h4>
    </div>
 </nav>
</main>