<main class="container">
  <div class="text-center">
    <h1>My Budget App</h1>
  <h1>Done By <a href="https://github.com/josuerushanika" target="_blank">josue</a></h1>

  </div>

  <div class="text-center">
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary mr-2" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</main>
